body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: white;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.header-1 {
    background-color: white;
    color: white;
    display: flex;
    font-size: 13px;
}

.header-1 .header-info {
    margin: 0 auto;
    padding: 10px;
    color: black;
}

.header-1 .header-info span {
    padding: 0 10px;
}

.header-1 .header-info .sdt {
    border-right: 1px solid white;
}

.header-1 .header2 span {
    border-left: 1px solid white;
    text-transform: uppercase;
}

.header-2 {
    display: flex;
    padding: 10px;
    border-top: 2px solid #3333331c;
}

.header-2-ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-2-ul li {
    padding: 15px;
    transition: .4s all;
}

.header-2-ul-item {
    transition: .4s all;
    background-color: white;
    color: black;
    visibility: hidden;
    width: 180px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 120px;
}

.header-2-ul-item-2 {
    position: absolute;
    color: black;
    background-color: white;
    left: 220px;
    top: 0;
    width: 150px;
    visibility: hidden;
    transition: .4s all;
    opacity: 0;
}

.header-2-ul-item-2 li {
    cursor: pointer;
}

#header-2-ul-item-2:hover .header-2-ul-item-2 {
    visibility: initial;
    left: 180px;
    opacity: 1;
}

.header-2-ul a {
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}

.header-2-ul li:hover {
    border-bottom: 2px solid black;
}

.logo {
    width: 240px;
}

img#img-logo {
    width: 70px;
}

#cart {
    width: 20px;
    padding-top: 2px;
}

.search-and-cart-ul {
    display: flex;
}

.search-and-cart-ul li {
    padding: 6px;
}

.search-and-cart-ul #search-input {
    border: none;
    padding: 7px;
    font-size: 15px;
    color: black;
    background: #ebedee;
}

.search {
    position: relative;
}

i.fas.fa-search {
    position: absolute;
    right: 7px;
    top: 7px;
}


/* banner */

.banner {
    position: relative;
}

.banner .banner-info {
    position: absolute;
    top: 25%;
    width: 30%;
    left: 6%;
    color: white;
}

.banner .banner-info h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 50px;
}

.banner .banner-info p {
    font-size: 18px;
    line-height: 25px;
}

.banner .banner-info #more {
    color: black;
    text-decoration: underline;
}

.banner .banner-info .banner-button {
    margin: 30px 0;
}

.banner .banner-info .banner-button a {
    position: relative;
    padding: 15px 20px;
    background: white;
    color: black;
    font-size: 18px;
}

.banner .banner-info .banner-button a:hover {}

.banner .banner-img img {
    width: 100%;
}

.banner .banner-img video {
    width: 100%;
}

.banner .banner-info2 {
    color: black;
}

.banner .banner-info2 .banner-button a {
    background: black;
    color: white;
}

.banner3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px;
}

.banner3 .banner3-img {
    position: relative;
}

.banner3 .banner3-info {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
}

.banner3 .banner3-info h3 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}

.banner3 .banner3-info p {
    margin-bottom: 20px;
}

.banner3 .banner3-info a {
    color: white;
    background: black;
    padding: 5px 30px;
}

.banner3 .banner3-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner3 .banner3-img video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px 20px 0 20px;
}

.product .product-item {
    position: relative;
}

.product .product-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product .product-item .product-name a {
    position: absolute;
    color: black;
    bottom: 10%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    transition: .3s all;
}

.product .product-item .product-name a:hover {
    color: gray;
}

.dangkyEmail {
    background-color: #ede734;
    height: 200px;
}

.dangkyEmail .wrap {
    display: flex;
    padding-top: 30px;
}

.dangkyEmail .wrap p {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.dangkyEmail .wrap a {
    width: 30%;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 10px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
}


/* footer */

.ul-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ul-footer .footer-item {
    padding: 50px 20px;
}

.ul-footer .footer-item h5 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.ul-footer .footer-item p {
    margin: 10px 0;
    cursor: pointer;
}

.ul-footer .footer-item img {
    width: 70px;
}

.ul-footer .footer-item a {
    color: black;
}

.ul-footer .footer-item i {
    padding: 10px;
    border: 2px solid black;
    margin-right: 5px;
    transition: .3s all;
}

.ul-footer .footer-item i:hover {
    background: black;
    color: white;
}

footer .last-footer {
    padding: 10px 0;
    background-color: black;
    color: rgb(194, 194, 194);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


/* slick */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    transition: .4s all;
}

.row-xhuong {
    display: flex;
}

@media(max-width:1400px) {
    .price span {
        padding: 10px;
    }
    iframe {
        display: none;
    }
    .about-info {
        width: 90%;
        background-color: white;
        margin: 32px auto;
        padding: 30px 20px;
    }
    .about-ul {
        display: none;
    }
}

@media(max-width:992px) {
    .header-2-ul {
        display: inline-block;
        transition: .4s all;
        position: fixed;
        z-index: 2;
        background: white;
        width: 50%;
        height: 100vh;
        top: 0;
        right: -50%;
    }
    #close-menu {
        display: block;
    }
    .icon-menu {
        display: block;
    }
    #close-menu {
        font-size: 20px;
    }
    .section-ul {
        display: flex;
        font-size: 10px;
        margin: 0;
    }
    .center {
        text-align: center;
    }
    .about-us {
        background: url(./img/bg-about-us.jpg);
        height: auto;
        margin: 50px 0;
        padding: 25px 0;
    }
    .row-ul li {
        font-size: 10px;
    }
    /* slick */
    .slick-dots {
        bottom: 10px;
    }
    .slick-dots li button:before {
        font-size: 20px;
        color: whitesmoke;
    }
}

@media(max-width:768px) {
    .header-1 {
        display: block;
        font-size: 7px;
    }
    .price span {
        padding: 5px;
        font-size: 10px;
    }
    .box {
        padding: 30px 30px;
        border: 2px #ffd44f solid;
        position: relative;
        width: 50%;
        top: 0;
        left: 0;
    }
    #img-logo {
        width: 100px;
    }
    .icon-menu {
        font-size: 20px;
    }
    .col-xl-6 h1 {
        width: 100%;
    }
    .info {
        line-height: 15px;
    }
    .row-xhuong {
        display: block;
    }
    .row-xhuong #img-xhuong {
        width: 100%;
    }
    .row-xhuong .box {
        width: 100%;
    }
    #span-footer {
        font-size: 15px;
    }
    #float-right {
        float: none;
    }
}